.titleContainer {
  position: relative;
  margin: 5% 5% 0;
}

.title {
  text-align: center;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: calc(50% - 230px);
  top: 55%;
  background: #666;
}

.title::before {
  left: 0;
}
.title::after {
  right: 0;
}
.drawBox {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.drawBox h2 {
  display: block;
}
.drawBox div {
  min-width: 300px;
}
.btn,
.clearStyle {
  outline: none;
  color: #fff;
  margin: 15px;
}

.btn:hover,
.clearStyle:hover {
  opacity: 0.5;
  cursor: pointer;
}
.clearStyle:disabled {
  opacity: 1;
  cursor: no-drop;
}
.clearStyle {
  color: #fff;
  background: #ff88bb;
  border: solid #ff88bb 1px;
  padding: 10px 20px;
  border-radius: 10px;
}

.instruction {
  margin: 0 20% 5%;
  border: solid #eee;
  color: #666;
  text-align: center;
  padding: 0 5%;
}

.instruction h3 {
  padding-bottom: 15px;
  border-bottom: solid #eee 2px;
}

.instruction ul {
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.instruction ul li {
  margin: 5% 0;
}

@media screen and (max-width: 600px) {
  .titleContainer {
    border-top: solid #ddd 5px;
  }

  .title::before,
  .title::after {
    width: 0;
  }

  .drawBox {
    display: block;
  }
  .drawBox div {
    margin: 0 auto 5%;
    min-width: auto;
  }

  .instruction {
    margin: 0 5% 5%;
  }

  .instruction ul {
    width: auto;
    padding: 0;
  }

  .instruction ul li {
    margin: 10% 0;
    list-style-type: none;
  }
}
